.main-layout{
    background: #EE5555;
}
.container {
    width: 700px;
    margin: 0 auto;
    background: gray;
}

.about-me {
    text-align: center;
    width:
}
.about-me-discription{
    text-align: center;
    width: 540px;
    margin: 0 auto;
}

.item{
    width: 430px;
    height: 430px;
    float: left;
}
.item-red{
    background-color: red;

}
.item-gray{
    background-color: gray;
}

